  <!-- Nav Sidebar -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
  <div class="large-3 medium-3 pull-9 columns">
    <aside>
      <p><img class="img-round u-photo" src="/images/amy_2016.jpg" alt="Picture of Amy MacKinnon"></p>

      <blockquote>Art is never finished, only abandoned.<cite>Leonardo Da Vinci</cite></blockquote>

      {%- if page.url contains "life" -%}
        {%- include profile_links_personal.html -%}
      {%- else -%}
        <h3>Everywhere Else</h3>
        <a href="http://www.flickr.com/photos/amy_sloan/" class="webicon flickr" rel="me">Flickr</a>
        <a href="https://github.com/amy-mac" class="webicon github" rel="me">Github</a>
        <a href="https://dev.to/thatamymac" style="display: inline-block; vertical-align: bottom;" rel="me">
          <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Amy MacKinnon's DEV Profile" height="30" width="30" style="vertical-align: baseline;">
        </a>
        <a href="http://www.linkedin.com/in/amymsloan" class="webicon linkedin" rel="me">Linked In</a>
        <a href="http://www.youtube.com/user/morriganjett" class="webicon youtube" rel="me">Youtube</a>
        <a rel="me" href="https://indieweb.social/@amy" class="webicon">Mastodon</a>
      {%- endif -%}
    </aside>
  </div>

</div>
