  <!-- Nav Sidebar -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
  <div class="large-3 medium-3 pull-9 columns hideForPrint">
    <aside>
      <p><img class="img-round u-photo" src="/images/amy_mac_2023.jpeg" alt="A headshot picture of Amy where her hair is long, red, and braided. She is staring directly into the camera."></p>

      <blockquote>Art is never finished, only abandoned.<cite>Leonardo Da Vinci</cite></blockquote>

      {%- if page.url contains "life" -%}
        {%- include profile_links_personal.html -%}
      {%- else -%}
        <h3>Everywhere Else</h3>
        <a href="http://www.flickr.com/photos/amy_sloan/" class="webicon flickr" rel="me">Flickr</a>
        <a href="https://github.com/amy-mac" class="webicon github" rel="me">Github</a>
        <a href="https://dev.to/thatamymac" class="webicon_tmp" rel="me">
          <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Amy St. John's DEV Profile" height="30" width="30">
        </a>
        <a href="http://www.linkedin.com/in/amymsloan" class="webicon linkedin" rel="me">Linked In</a>
        <a href="http://www.youtube.com/user/morriganjett" class="webicon youtube" rel="me">Youtube</a>
        <a rel="me" href="https://indieweb.social/@amy" class="webicon_tmp">
          <img height="30" src="/images/mastodon.png" alt="Blue square with a white M in it that represents the social service Mastodon"/>
        </a>
      {%- endif -%}
    </aside>
  </div>

</div>
