// Default Amy-Mac Site Styles

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400);

$accent-color: #3c5170;
$sans-font: 'Open Sans', 'sans-serif';
$light-gray: #5a5e5f;
$orange: #d15934;
$purple: #697299;
$lt-orange: #ff9c60;
$dark-gray: #6f6f6f;
$light-blue: #258faf;
$link-hover: #18667e;

// Foundation variables
$button-med: rem-calc(12);
$button-tny: 0.625rem 1.05rem 0.6875rem 1.05rem;
$button-sml: 0.975rem 1.65rem 0.9375rem 1.65rem;
$button-lrg: rem-calc(16);

// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
       -o-box-shadow: $shadow;
          box-shadow: $shadow;
}

body {
  font-family: $sans-font;
  font-weight: 300;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-font;
  font-weight: 400;
  color: $orange;
}

@media only screen and (min-width: 40.063em) {

  h1 {
    font-size: 2.44444rem;
  }
  h2 {
    font-size: 2.05556rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.27778rem;
  }
}

p,
ul,
ol {
  font-size: 1.1rem;
  font-weight: 300;
}

a {
  color: $light-blue;
}

a:hover {
  color: $link-hover;
}

strong {
  font-weight: 400;
}

footer p,
footer ul {
  font-size: 94%;
}

small {
  font-size: 90%;
}

hr {
  border-color: $lt-orange;
}

nav ul,
.vcard .summary {
  font-weight: normal;
}

aside {
  padding-top: 1em;
}

blockquote {
  color: inherit;
  border-left-color: $lt-orange;
  cite {
    text-align: right;
    color: inherit;
  }
  p {
    color: inherit;
  }
}

figure {
  max-width: 100%;
}

figcaption {
  padding-top: 10px;
  @extend small;
}

button,
.button {
  background-color: $light-blue;
}

button:hover,
.button:hover {
  background-color: $link-hover;
}

button.small,
.button.small {
  padding: $button-sml;
  font-size: 0.9125rem;
}

button.tiny,
.button.tiny {
  padding: $button-tny;
  font-size: 0.8875rem;
}

span {
  line-height: inherit;
}

// Underline under active nav links
.inline-list .active {
  border-bottom: 2px solid #72A0C1;
}

// Box shadow for portfolio page images
.project-img {
  @include box-shadow(1px 1px 5px #8F8888);
}

.header {
  margin-bottom: 0.5em;
}

.clearing-assembled {
  margin-bottom: 1em;
}

.image-wrap {
  margin: 10px;
}

.left-inline-img {
  margin-right: 14px;
  margin-bottom: 4px;
}

.right-inline-img {
  margin-left: 14px;
  margin-bottom: 4px;
}

.img-round {
  @include border-radius(20px);
}

.vcard {
  border: none;
  padding-left: 0;
  margin: 0;
}

.vcard .fn {
  font-size: inherit;
  font-weight: 400;
}

.vevent abbr {
  font-weight: 300;
}

// POSTS

.entry-meta {
  margin: 0 0 1.25rem 0;
  font-size: 95%;
  @extend strong;
  color: $dark-gray;
}

.entry-meta .vcard {
  padding: 0;
  border: none;
}

.entry-meta .vcard .fn {
  font-weight: normal;
  font-size: inherit;
}

.entry-meta .vcard:before {
  content: " by ";
}

.entry-meta span[rel=tag]:before {
  content: " • ";
}

code {
  font-weight: normal;
  font-family: Menlo, Consolas, monospace;
  font-size: 0.9em;
}

.post pre {
  padding: 1.4em;
  margin-bottom: 0.9em;
  overflow-x: auto;
}

.post code {
  padding: 0 .2em;
  border: 1px solid #ddd;
  background: #eef;
}

.post pre code {
  padding: 0;
  font-size: 0.85em;
  line-height: 1.35em;
  border: none;
  background-color: inherit;
}

.highlight {
  @include border-radius(5px);
}

.medium-img {
  width: 50%;
}

// SHARE BUTTONS

.share-buttons {
  height: 30px;
  margin-top: 2.5em;
}

div .share-icon {
  float: left;
  padding-right: 10px;
}

div .share-icon.twitter-share {
  padding-right: 0;
  margin-right: -18px;
}
