/* Default Amy-Mac Site Styles */

.inline-list .active {
  border-bottom: 2px solid #72A0C1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.project {
  -webkit-box-shadow: 1px 1px 5px #8F8888;
  -moz-box-shadow: 1px 1px 5px #8F8888;
  box-shadow: 1px 1px 5px #8F8888;
  margin-left: 0.6em;
}

figure {
  padding: 1% 0.5%;
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  padding-top: 10px;
}

button.tiny, .button.tiny {
  padding: 0.625rem 1.05rem 0.6875rem 1.05rem;
  font-size: 0.8875rem;
}

/* POSTS */

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-left: 0.2em;
}

.posts span {
  color: #aaa;
  font-size: 90%;
}

/* standard */
.post pre, .posts pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code, .posts code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/* BLOG SPECIFIC STYLES */

.meta {
  color: #aaa;
}