---
layout: main
title: Latest Posts
---
<h1>Recent Blog Posts</h1>

{% for post in paginator.posts %}
<article class="hentry post">
  <header>
    <h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %B %d at %I:%M %p" }}</time></span>
      <span rel="tag"><i class="fi-clock"></i> {{ post.content | reading_time }}</span>
      {% if post.categories %}
      <span rel="tag">
        {% for category in post.categories %}
          {% unless category == post.categories.last %}
            <a href="{{site.url}}/blog/categories/{{category}}/index.html">{{ category }}</a>,
          {% else %}
            <a href="{{site.url}}/blog/categories/{{category}}/index.html">{{ category }}</a>
          {% endunless %}
        {% endfor %}
      </span>
      {% else %}
      <span></span>
      {% endif %}
    </div>
  </header>
  <div class="entry-summary">
    {{ post.excerpt }}
    <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">Read More &raquo;</a>
  </div>
</article>
  <hr />
{% endfor %}

<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li class="arrow"><a href="{{ site.url }}/blog/">&laquo;</a></li>
      {% else %}
        <li class="arrow"><a href="{{ site.url }}/blog/page{{ paginator.previous_page }}">&laquo;</a></li>
      {% endif %}
    {% else %}
      <li class="arrow unavailable"><a href="">&laquo;</a></li>
    {% endif %}

    {% if paginator.page == 1 %}
      <li class="current"><a href="">1</a></li>
    {% else %}
      <li><a href="{{ site.url }}/blog/">1</a></li>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="current"><a href="">{{ count }}</a></li>
        {% else %}
          <li><a href="{{ site.url }}/blog/page{{ count }}">{{ count }}</a></li>
        {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li class="arrow"><a href="{{ site.url }}/blog/page{{ paginator.next_page }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a href="">&raquo;</a></li>
    {% endif %}
  </ul>

</div>