<h3>Everywhere Else</h3>
<a class="webicon facebook" href="https://www.facebook.com/amysloan">Facebook</a>
<a href="http://www.flickr.com/photos/amy_sloan/" class="webicon flickr">Flickr</a>
<a href="https://github.com/amy-mac" class="webicon github" rel="me">Github</a>
<a href="http://www.linkedin.com/in/amymsloan" class="webicon linkedin">LinkedIn</a>
<a href="http://amysloan.tumblr.com/" class="webicon tumblr">Tumblr</a>
<a href="https://twitter.com/amy_tmi" class="webicon twitter" rel="me">Twitter</a>
<a href="http://www.youtube.com/user/morriganjett" class="webicon youtube">Youtube</a>
