---
author: amy@amy-mac.com
layout: default
comments: true
permalink: "blog/{{ page.date | date: '%Y/%m/%d' }}/{{ title | slug }}/"
share: true
---
<div class="row">

  <!-- Main Content Section -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
  <div class="large-9 medium-9 push-3 columns">

    <article class="h-entry post" role="main">
      <header>
        <h1 class="p-name">{{ title }}</h1>
        <div class="entry-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y %B %d at %I:%M %p" }}</time>
          {% if tags != 0 %}
          <span rel="tag">
            <i class="fi-price-tag"></i>
            {% for tag in tags %}
              {% unless forloop.last == true %}
                <a class="p-category" href="/blog/{{tag | slug}}/">{{ tag }}</a>,
              {% else %}
                <a class="p-category" href="/blog/{{tag | slug}}/">{{ tag }}</a>
              {% endunless %}
            {% endfor %}
          </span>
          {% else %}
          <span></span>
          {% endif %}
        </div>
      </header>

      <hr />

      <div class="e-content">
        {{ content }}
      </div>

      {% if share %}
        {% include share-bar.html %}
      {% endif %}

      {% if site.disqus_shortname and comments %}
      <hr />
        <section id="disqus_thread"></section>
      {% endif %}
    </article>

  </div>

  <div class="large-3 medium-3 pull-9 columns">
    <aside>
    <p><img class="img-round u-photo" src="/images/amy_2016.jpg" alt="Amy MacKinnon"></p>

    <blockquote>Art is never finished, only abandoned.<cite>Leonardo Da Vinci</cite></blockquote>

    <h3>Everywhere Else</h3>
    <a href="http://www.flickr.com/photos/amy_sloan/" class="webicon flickr u-url">Flickr</a>
    <a href="https://github.com/amy-mac" class="webicon github u-url" rel="me">Github</a>
    <a href="http://www.linkedin.com/in/amymsloan" class="webicon linkedin u-url">Linked In</a>
    <a href="https://twitter.com/thatamymac" class="webicon twitter u-url" rel="me">Twitter</a>
    <a href="http://www.youtube.com/user/morriganjett" class="webicon youtube u-url">Youtube</a>
    </aside>
  </div>

</div>
